<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="row">

            <div class="col-sm-4">
              <div>
                <img class="col-sm-12"
                     src="https://images.pexels.com/photos/14005687/pexels-photo-14005687.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                     alt="...">

              </div>
            </div>
            <div class="col-sm-8">
              <div class="card">

                <div class="card-body">
                  <div class="row mt-4">
                    <div class="col-sm-6">
                      <div>
                        <label class="form-label">Type</label>
                        <select class="form-select form-select">
                          <option selected>Select Source</option>
                          <option value="1">Img</option>
                          <option value="2">Youtube</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mb-3">
                        <label class="form-label">Url</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Enter URL">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="mb-3">
                        <label class="form-label"
                               for="formFile">File upload</label>
                        <input class="form-control"
                               type="file"
                               id="formFile">
                      </div>
                    </div>
                  </div>


                </div>

              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-12">
              <div class="mb-3">
                <label class="form-label">Title</label>
                <input type="text"
                       class="form-control"
                       placeholder="Enter Full title">
              </div>
            </div>

            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Countries</label>
                <select class="form-select form-select">

                  <option selected>India</option>
                  <option value="1">Dubai</option>
                  <option value="2">Saudi </option>
                  <option value="3">United States</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="mb-3">
                <div>

                  <label class="form-label">Language</label>

                  <select class="form-select form-select">

                    <option selected>English</option>
                    <option value="1">Kannada</option>
                    <option value="2">Urdu</option>
                    <option value="3">Marathi</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Category</label>
                <ng-select [items]="people"
                           bindLabel="name"
                           bindValue="id"
                           placeholder="type to search">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-12">
              <label for="exampleFormControlTextarea1"
                     class="form-label">News Details</label>
              <label for="exampleFormControlTextarea1"
                     class="form-label"
                     style="float: right;">Max Char : 3000</label>
              <textarea class="form-control"
                        id="exampleFormControlTextarea1"
                        rows="5"></textarea>
            </div>

          </div><!-- Row -->
          <div class="row mt-2">

            <div class="col-sm-3">
              <div class="mb-3">
                <label class="form-label">Company</label>
                <ng-select [items]="people"
                           bindLabel="name"
                           bindValue="id"
                           placeholder="type to search">
                </ng-select>
              </div>
            </div> <!-- Col -->
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">URL</label>
                <input type="text"
                       class="form-control"
                       placeholder="Enter state">
              </div>
            </div><!-- Col -->
            <div class="col-sm-4">
              <div class="mb-3">
                <label class="form-label">Topics</label>
                <ng-select [items]="people"
                           [multiple]=true
                           [closeOnSelect]="false"
                           [searchable]="false"
                           bindLabel="name"
                           placeholder="Select Topics">
                </ng-select>
              </div>
            </div>
            <!-- Col -->
          </div><!-- Row -->
          <!-- Row -->
        </form>
        <button type="button"
                class="btn btn-primary submit">Submit form</button>
      </div>
    </div>
  </div>
</div>
