<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/news">News</a></li>
    <li class="breadcrumb-item active"
        aria-current="page">View News</li>
  </ol>
</nav>


<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive"
             style="min-height: 60vh !important;">
          <table id="newsTable"
                 class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>title</th>
                <th>Category</th>
                <th>Language</th>
                <th>Country</th>
                <th>Status</th>
                <th>Date</th>
                <th>By</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>#382911</td>
                <td>System Architect</td>
                <td>Business</td>
                <td>English</td>
                <td>India</td>
                <td>Active</td>
                <td>2011/04/25</td>
                <td>Abdul Kumshey</td>
                <td>
                  <div ngbDropdown
                       class="d-inline-block">
                    <button type="button"
                            class="btn btn-outline-primary"
                            id="dropdownBasic1"
                            ngbDropdownToggle>
                      <span class="mdi mdi-dots-vertical"></span>

                    </button>
                    <div ngbDropdownMenu
                         aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem>Edit </button>
                      <button ngbDropdownItem>View</button>
                      <button ngbDropdownItem>Update</button>
                      <button ngbDropdownItem>Delete</button>

                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
            <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
